/*
 * Copyright 2023 Marek Kobida
 */

.container {
  container-type: inline-size !important;
}
.f1 {
  font-size: clamp(0.75rem, 3cqi, 0.938rem) !important;
}
.f2 {
  font-size: clamp(0.875rem, 3cqi, 1.094rem) !important;
}
.f3 {
  font-size: clamp(1rem, 3cqi, 1.25rem) !important;
}
.f4 {
  font-size: clamp(1.125rem, 3cqi, 1.406rem) !important;
}
.f5 {
  font-size: clamp(1.25rem, 3cqi, 2.188rem) !important;
}
.f6 {
  font-size: clamp(1.5rem, 3cqi, 2.625rem) !important;
}
.f7 {
  font-size: clamp(1.75rem, 3cqi, 3.063rem) !important;
}
.f8 {
  font-size: clamp(2rem, 3cqi, 3.5rem) !important;
}
.f9 {
  font-size: clamp(2.25rem, 3cqi, 3.938rem) !important;
}
.f10 {
  font-size: clamp(2.5rem, 3cqi, 4.375rem) !important;
}
.f11 {
  font-size: clamp(2.75rem, 3cqi, 4.813rem) !important;
}
.f12 {
  font-size: clamp(3rem, 3cqi, 5.25rem) !important;
}
